# Question 2

Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name,
in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In [1]:
# load needes libs
import pandas as pd

In [2]:
# load data from Solution Question 1
df = pd.read_csv('Q1_TorontoCleanDataSet_Q1.csv')

In [3]:
df.shape

(103, 3)

# Load csv file for the geographical coordinates of postal code
### http://cocl.us/Geospatial_data

In [4]:
!wget -q -O 'TorontoData.csv'  http://cocl.us/Geospatial_data
dfLonLat = pd.read_csv('TorontoData.csv')
dfLonLat.columns=['Postalcode','Latitude','Longitude']
dfLonLat.head()

  Postalcode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

### Merge the two Dataframes

In [5]:
dfNew = pd.merge(df, dfLonLat[['Postalcode','Latitude', 'Longitude']], on='Postalcode')
dfNew.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M9A,Queen's Park,Queen's Park,43.667856,-79.532242

### Taking postal code M5G as an example

In [6]:
dfNew[dfNew.Postalcode == 'M5G']

   Postalcode           Borough        Neighborhood   Latitude  Longitude
23        M5G  Downtown Toronto  Central Bay Street  43.657952 -79.387383

### Short overview on first 5 rows

In [7]:
dfNew.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M9A,Queen's Park,Queen's Park,43.667856,-79.532242

### Save the result on csv file for the next Question

In [8]:
dfNew.to_csv('Q1_TorontoWithLatLongDataSet_Q2.csv', index=False)

In [9]:
dfNew.shape

(102, 5)